.App {
  text-align: center;
  background: #262629;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.event-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img {
  max-height: 20vh;
  min-width: fill;
  object-fit: stretch;
}

.carousel-img {
  height: 40vh;
  width: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7.5%;
  margin-top: 10%;
}

.card {
  max-height: 33vh;
  max-width: 33vw;
  padding-bottom: 5%;
}

.banner {
  color: aliceblue;
  margin-top: -20px;
  background: linear-gradient(180deg, #000000 0%, #414141 100%);
}

.venue-info {
  padding-top: 0.75vh;
  padding-bottom: 0.25vh;
  font-weight: bold;
}

.tickit-logo{
  animation: fade 2.5s ease-in;
  width: 20%;
  padding-left: 12px;
}

.tickit-logo2{
  animation: fade 2.5s ease-in;
  width: 20%;
}


@keyframes fade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
  0% {
    opacity: 0
  }
}
