.App {
  text-align: center;
  background: #262629;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.event-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-shadow {
  text-shadow: 0 0 10px #FFBD59;
}

.venue-events-img {
  height: 7.5vh;
  max-width: 15vw;
  border: 1px solid white;
  box-shadow: 0 0 10px #FFBD59;
}

.venue-events {
  width: 90vw;
  padding-top: 5%;
}

.venue-events-rows {
  background: black;
  font-family: "Arial";
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  color: white;
  border: 2px solid #FFBD59;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  padding-top: 2.5%;
}

.venue-events-rows:hover * {
  color: #FFBD59;
}

.venue-event-card {
  border: 2px solid #FFBD59;
}

.venue-event-card:hover *{
  background:#0e0e0f;
}

.carousel-img {
  height: 40vh;
  width: auto;
}

.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10%;
}

.card {
  height: 20%;
  width: 30%;
  padding-bottom: 5%;
  margin-right: 7vw; 
  margin-left: 7vw;
}

.card-img {
  height: 20vh;
  width: 400px;
  object-fit: stretch;
  box-shadow: 0 2px 12px white;
}

.card-img:hover {
  box-shadow: 0 2px 12px #FFBD59;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.banner {
  width: 400px;
  color: aliceblue;
  margin-top: -20px;
  background: linear-gradient(180deg, #000000 0%, #414141 100%);
  box-shadow: 0 2px 12px white;
}

.venue-info {
  padding-top: 0.75vh;
  padding-bottom: 0.25vh;
  font-weight: bold;
}

.tickit-logo{
  animation: fade 2.5s ease-in;
  width: 20%;
  padding-left: 12px;
}

.tickit-logo2{
  animation: fade 2.5s ease-in;
  width: 20%;
}


@keyframes fade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.venue-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.event-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-backdrop {
  width: 100vw;
}

.event-details-container {
  color: white;
  background-color: black;
  width: 100%;
  height: fit-content;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  text-shadow: 0 2px 12px #FFBD59;
  line-height: 10%;
}

.venue-backdrop-header {
  align-self: center;
  height: 800px;
  width: 80%;
}

.details-container {
  color: white;
  background-color: black;
  width: 100%;
  height: fit-content;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  text-shadow: 0 2px 12px #FFBD59;
  line-height: 10%;
}

.ticket-button {
  border-radius: .25rem;
  box-shadow: 0 2px 12px #FFBD59;
  margin: 10px;
  background: black;
  color: white;
}

.ticket-button:hover {
  transform: scale(1.25);
  background: #FFBD59;
  color: black;
  cursor: pointer;
}

.login-form-container {
  margin-top: 5%;
  transform: scale(1.5)
}

.email-label,.password-label {
  font-family: 'Inter';
  color: white;
  text-shadow: 0 2px 12px #FFBD59;
}

.login-button {
  background: #FFBD59;
  box-shadow: 0 2px 6px #FFBD59;
  color: white;
  font-weight: bold;
}

.login-button:hover {
  cursor: pointer;
  
}