.App {
  text-align: center;
  background: #262629;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.event-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-height: 25vh;
  max-width: 25vw
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20%;
  margin-top: 10%;
}

.card {

}

.banner {

}