.carousel{
    overflow: hidden;
}

.inner { 
    white-space: nowrap;
    transition: transform 1s;
}

.carousel-item {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    height: auto;
    width: auto;
    background-color: #FFBD59;
    color: #fff;
    padding-top: .5%;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
}

indicators > button.active {
    background-color: black; 
    color: #fff;
}